[run]
branch = True
omit =
        *tests/*
        */usr/lib/python3*
        */usr/lib/python3/*
        */usr/local/lib*
        */usr/local/lib/*
        */__init__.py
        */dist-packages*
        */dist-packages/*
        */queue/*
        queue/*
        partner-contact/*
        server-auth/*
[report]
omit =
        *tests/*
        */usr/lib/python3*
        */usr/lib/python3/*
        */usr/local/lib*
        */usr/local/lib/*
        */__init__.py
        */dist-packages*
        */dist-packages/*
        */queue/*
        queue/*
        partner-contact/*
        server-auth/*

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = /reports/coverage
